[submodule "lib/nest"]
	path = lib/nest
	url = https://github.com/andr-ew/nest
[submodule "lib/cartographer"]
	path = lib/cartographer
	url = https://github.com/andr-ew/cartographer
[submodule "lib/pattern_time"]
	path = lib/pattern_time
	url = https://github.com/andr-ew/pattern_time
[submodule "lib/crops"]
	path = lib/crops
	url = https://github.com/andr-ew/crops
